<div class="row">
  <% @speeks.each do |speek| %>
    <div class="col-8">
      <div class="card mb-3">
        <div class="card-header">
          <%= speek.user.username %> </br>
          <small>Spoke on: <%= speek.created_at.strftime('%b %d, %Y') %></small>
        </div>
        <div class="card-body">
          <p class="card-text"><%= speek.content %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
